@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1000px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }
  
  /* Apply bounce animation on hover */
  .small-box:hover {
    animation: bounce 0.5s ease-in-out;
  }
  
  /* custom.css */

.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);  /* Zoom in */
    color: #007bff;  /* Change text color on hover (you can pick any color you like) */
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.brand-link {
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.brand-link:hover {
  transform: scale(1.05); /* Slight zoom-in */
  opacity: 0.85;           /* Lighten up slightly */
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.display {
  white-space: nowrap;
}